.cardsContainer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

h2.counter {
	margin: 0 0 0 10vw;
	font-size: 1.5em;
	font-weight: 200;
	.count {
		font-size: 1.2em;
		font-weight: 800;
	}
}

.addStudio {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin: 2em;

	.container {
		background: #fff;
		padding: 2em;
		box-shadow: 0 5px 20px -6px #44444454;

		.MuiFormControl-root {
			margin: 0.5em 1em 0.5em 0;
			vertical-align: baseline;
		}

		h1 {
			font-size: 1.2em;
			padding: 1em 0 0.5em 0;
			margin: 0;
		}
	}
}
.card {
	display: flex;
	background: #fff;
	margin: 2em;
	min-width: 80vw;
	box-shadow: 0 5px 20px -6px #444;

	@media (max-width: 600px) {
		flex-direction: column;
		margin: 2em 1em;
	}

	.MuiFormControl-root {
		margin: 0.5em 1em 0.5em 0;
		vertical-align: baseline;
	}
}

.addBar {
	display: flex;
	padding: 1em 2em;
}

p {
	margin: 0;
	max-width: 80%;
	padding-bottom: 2em;
	line-height: 1.4;
	color: #565656;
	font-size: 0.9em;

	@media (max-width: 600px) {
		font-size: 1em;
		max-width: none;
	}
}
h3 {
	font-size: 0.9em;
	padding: 1em 0 0.5em 0;
	margin: 0;
	text-transform: uppercase;
}

h4 {
	margin: 0;
	padding: 0;
}

.separator {
	padding-top: 5px;
}

.fields {
	padding-top: 2em;
}

.spacer {
	height: 2em;
}

button {
	padding: 0.7em;
	min-width: 80px;
	background: #54bfd0;
	border-radius: 2px;
	font-size: 0.8em;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	border: 0;
	outline: 0;
	cursor: pointer;

	&.delete {
		background: none;
		color: red;

		@media (max-width: 600px) {
			font-size: 1em;
			margin: 0 0 2em;
		}
	}

	&.upload {
		background: none;
		margin: 0;
		padding: 0;
	}

	&.exportParam {
		background: none;
		color: #000;
	}

	@media (max-width: 600px) {
		font-size: 1em;
		margin: 2em 0 0;
	}
}

.nameImage {
	display: flex;
	background: #f5f5f5;
	padding: 0;
	flex-direction: column;
	padding: 2em;

	h1 {
		font-size: 3em;
		margin: 0.5em 0;
		text-transform: uppercase;

		@media (max-width: 600px) {
			font-size: 4em;
			text-align: center;
		}
	}

	img {
		width: 150px;
		display: block;
		margin: 0 auto;
	}
}

.listaDip {
	padding: 2em 2em 2em 5em;
	display: flex;
	flex-direction: column;
	@media (max-width: 600px) {
		padding: 2em;
	}

	div {
		@media (max-width: 600px) {
			display: flex;
			flex-direction: column;
		}
	}
}
.uploadBox {
	display: flex;
	flex-direction: row;
}

// [type="file"] {
// 	border: 0;
// 	clip: rect(0, 0, 0, 0);
// 	height: 1px;
// 	overflow: hidden;
// 	padding: 0;
// 	position: absolute !important;
// 	white-space: nowrap;
// 	width: 1px;
// }

// [type="file"] {
// 	height: 0;
// 	overflow: hidden;
// 	width: 0;
// }

// [type="file"] + label {
// 	cursor: pointer;
// 	text-decoration: underline;
// 	display: inline-block;
// 	outline: none;
// 	position: relative;
// 	transition: all 0.3s;
// 	vertical-align: middle;
// 	margin: 0.5em;
// 	border-radius: 5px;
// 	font-size: 0.8em;
// 	text-transform: uppercase;
// 	font-weight: 700;
// 	color: #444;

// 	&:hover {
// 		color: darken(#0eb3bb, 10%);
// 	}
// }

.progressWrapper {
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #7039da;
	border-radius: 5px;
}

progress {
	height: 5px;
	margin-bottom: 2px;
	display: block;
	-webkit-appearance: none;
	border: none;
	width: 5em;
}
progress::-webkit-progress-bar {
	background: rgba(255, 255, 255, 0.09);
	border-radius: 5px 5px 0 0;
}
progress::-webkit-progress-value {
	border-radius: 5px 0 0 0;

	background: #fff;
}
