.cardsContainer {
	background: #efefef;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.card {
	background: #fff;
	margin: 0.5em;
	padding: 1em 2em;
}

button {
	margin: 0 1em;
}
