.dashboardWrapper {
	background: #222;
	padding: 1em;
	min-height: 100vh;
	width: 500px;
	margin: 0 auto;
}
.studiosList {
	display: flex;
	flex-direction: column;
}
.singleStudio {
	display: flex;
	align-items: center;
	margin: 1em 0;
	padding: 1em;
	background: #fff;
	border-radius: 1em;

	h1 {
		font-size: 3rem;
		line-height: 0;
		font-weight: 900;
		text-transform: uppercase;
	}

	h2 {
		font-size: 1.2em;
		color: #777;
		line-height: 0.2;
	}

	h3 {
		font-size: 1em;
		padding: 0;
		text-transform: uppercase;
		margin: 0;
	}

	h5 {
		line-height: 0;
	}

	.logo {
		max-width: 100px;
		height: auto;
		padding-right: 2em;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;

		span {
			padding: 0 2px;
		}
	}

	.studioName {
		flex-grow: 3;
	}
}
